.descriptions-term,
.heading-24 {
  position: absolute;
  top: 769.5px;
  left: 480px;
  letter-spacing: 0.5px;
  line-height: 38.1px;
  display: flex;
  align-items: center;
  width: 384.1px;
  height: 38.1px;
}
.descriptions-term {
  top: 868.6px;
  left: 520px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 400.4px;
  height: 29.9px;
}
.descriptions-term1 {
  top: 869.1px;
  left: 490px;
  line-height: 28px;
  font-weight: 300;
  color: var(--color-darkturquoise);
  width: 17.7px;
  height: 28px;
}
.descriptions-term1,
.descriptions-term2,
.descriptions-term3 {
  position: absolute;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}
.descriptions-term2 {
  top: 944.5px;
  left: 520px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 312px;
  height: 29.9px;
}
.descriptions-term3 {
  top: 945px;
  left: 490px;
  line-height: 28px;
  font-weight: 300;
  color: var(--color-darkturquoise);
  width: 17.7px;
  height: 28px;
}
.descriptions-term4 {
  top: 1020.5px;
  left: 520px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 850.8px;
  height: 29.9px;
}
.descriptions-term4,
.descriptions-term5,
.descriptions-term6 {
  position: absolute;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}
.descriptions-term5 {
  top: 1020.9px;
  left: 490px;
  line-height: 28px;
  font-weight: 300;
  color: var(--color-darkturquoise);
  width: 17.7px;
  height: 28px;
}
.descriptions-term6 {
  top: 1096.3px;
  left: 520px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 325.9px;
  height: 29.9px;
}
.descriptions-term7 {
  top: 1096.8px;
  left: 490px;
  line-height: 28px;
  font-weight: 300;
  color: var(--color-darkturquoise);
  width: 17.7px;
  height: 28px;
}
.descriptions-term7,
.descriptions-term8,
.descriptions-term9 {
  position: absolute;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}
.descriptions-term8 {
  top: 1172.3px;
  left: 520px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 829.1px;
  height: 29.9px;
}
.descriptions-term9 {
  top: 1172.7px;
  left: 490px;
  line-height: 28px;
  font-weight: 300;
  color: var(--color-darkturquoise);
  width: 17.7px;
  height: 28px;
}
.descriptions-term10 {
  top: 1248.2px;
  left: 520px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 516.7px;
  height: 29.9px;
}
.descriptions-term10,
.descriptions-term11,
.descriptions-term12 {
  position: absolute;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}
.descriptions-term11 {
  top: 1248.6px;
  left: 490px;
  line-height: 28px;
  font-weight: 300;
  color: var(--color-darkturquoise);
  width: 17.7px;
  height: 28px;
}
.descriptions-term12 {
  top: 1324.1px;
  left: 520px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 594.4px;
  height: 29.9px;
}
.descriptions-term13 {
  top: 1324.5px;
  left: 490px;
  line-height: 28px;
  font-weight: 300;
  color: var(--color-darkturquoise);
  width: 17.7px;
  height: 28px;
}
.descriptions-term13,
.descriptions-term14,
.descriptions-term15 {
  position: absolute;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}
.descriptions-term14 {
  top: 1400px;
  left: 520px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 928px;
  height: 29.9px;
}
.descriptions-term15 {
  top: 1400.4px;
  left: 490px;
  line-height: 28px;
  font-weight: 300;
  color: var(--color-darkturquoise);
  width: 17.7px;
  height: 28px;
}
.descriptions-term16 {
  top: 1475.9px;
  left: 520px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 487.2px;
  height: 29.9px;
}
.descriptions-term16,
.descriptions-term17,
.descriptions-term18 {
  position: absolute;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}
.descriptions-term17 {
  top: 1476.3px;
  left: 490px;
  line-height: 28px;
  font-weight: 300;
  color: var(--color-darkturquoise);
  width: 17.7px;
  height: 28px;
}
.descriptions-term18 {
  top: 1551.8px;
  left: 520px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 243.9px;
  height: 29.9px;
}
.descriptions-term19 {
  top: 1552.3px;
  left: 490px;
  line-height: 28px;
  font-weight: 300;
  color: var(--color-darkturquoise);
  width: 17.7px;
  height: 28px;
}
.descriptions-term19,
.descriptions-term20,
.descriptions-term21 {
  position: absolute;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}
.descriptions-term20 {
  top: 1627.7px;
  left: 520px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 283px;
  height: 29.9px;
}
.descriptions-term21 {
  top: 1628.2px;
  left: 490px;
  line-height: 28px;
  font-weight: 300;
  color: var(--color-darkturquoise);
  width: 17.7px;
  height: 28px;
}
.descriptions-term22 {
  top: 1703.6px;
  left: 520px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 292.6px;
  height: 29.9px;
}
.descriptions-term22,
.descriptions-term23,
.descriptions-term24 {
  position: absolute;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}
.descriptions-term23 {
  top: 1704.1px;
  left: 490px;
  line-height: 28px;
  font-weight: 300;
  color: var(--color-darkturquoise);
  width: 17.7px;
  height: 28px;
}
.descriptions-term24 {
  top: 1779.5px;
  left: 520px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 402.9px;
  height: 29.9px;
}
.descriptions-term25 {
  top: 1780px;
  left: 490px;
  line-height: 28px;
  font-weight: 300;
  color: var(--color-darkturquoise);
  width: 17.7px;
  height: 28px;
}
.descriptions-term25,
.descriptions-term26,
.descriptions-term27 {
  position: absolute;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}
.descriptions-term26 {
  top: 1855.4px;
  left: 520px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 308.7px;
  height: 29.9px;
}
.descriptions-term27 {
  top: 1855.9px;
  left: 490px;
  line-height: 28px;
  font-weight: 300;
  color: var(--color-darkturquoise);
  width: 17.7px;
  height: 28px;
}
.section-section-figure-l {
  position: absolute;
  height: calc(100% - 2122.8px);
  width: calc(100% - 920px);
  top: 2042.8px;
  right: 460px;
  bottom: 80px;
  left: 460px;
  overflow: hidden;
}
.picture-image3 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 960px);
  max-height: 100%;
  width: 1920px;
  overflow: hidden;
  object-fit: cover;
}
.heading-11 {
  position: absolute;
  top: 297.5px;
  left: calc(50% - 339.5px);
  letter-spacing: 2.5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 679.4px;
  height: 58px;
}
.after1 {
  height: 100%;
  bottom: 0;
  background-color: var(--color-gray-500);
}
.after1,
.main1,
.section12 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.section12 {
  background-color: var(--color-darkslategray-100);
  height: 648px;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
}
.main1 {
  height: 2373.8px;
  font-size: var(--font-size-11xl);
  color: var(--color-gray-200);
}
.section-heading10,
.section-link31 {
  position: absolute;
  left: 400px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}
.section-heading10 {
  top: 49.5px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 193.2px;
  height: 29.9px;
}
.section-link31 {
  top: 94.7px;
  line-height: 25.38px;
  font-weight: 300;
  width: 33.8px;
  height: 25.4px;
}
.section-heading11,
.section-link32,
.section-link33,
.section-link34,
.section-link35,
.section-link36,
.section-link37,
.section-link38 {
  position: absolute;
  top: 136px;
  left: 400px;
  letter-spacing: 0.5px;
  line-height: 25.38px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 76.6px;
  height: 25.4px;
}
.section-heading11,
.section-link33,
.section-link34,
.section-link35,
.section-link36,
.section-link37,
.section-link38 {
  top: 177.3px;
  width: 92.8px;
}
.section-heading11,
.section-link34,
.section-link35,
.section-link36,
.section-link37,
.section-link38 {
  top: 218.5px;
  width: 183.4px;
}
.section-heading11,
.section-link35,
.section-link36,
.section-link37,
.section-link38 {
  top: 259.8px;
  width: 204.4px;
}
.section-heading11,
.section-link36,
.section-link37,
.section-link38 {
  top: 301px;
  width: 64.9px;
}
.section-heading11,
.section-link37,
.section-link38 {
  top: 342.3px;
  width: 47.3px;
}
.section-heading11,
.section-link38 {
  top: 383.6px;
  width: 167.8px;
}
.section-heading11 {
  top: 439.6px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 133.3px;
  height: 29.9px;
}
.section-link-image6,
.section-link-image7,
.section-link-image8 {
  position: absolute;
  width: calc(100% - 1890px);
  top: 484.9px;
  max-width: 100%;
  overflow: hidden;
  height: 30px;
}
.section-link-image6 {
  right: 1490px;
  left: 400px;
  object-fit: cover;
}
.section-link-image7,
.section-link-image8 {
  right: 1442px;
  left: 448px;
}
.section-link-image8 {
  right: 1394px;
  left: 496px;
  object-fit: cover;
}
.section-link-image10,
.section-link-image11,
.section-link-image9 {
  position: absolute;
  width: calc(100% - 1890px);
  top: 529.9px;
  max-width: 100%;
  overflow: hidden;
  height: 30px;
}
.section-link-image9 {
  right: 1490px;
  left: 400px;
  object-fit: cover;
}
.section-link-image10,
.section-link-image11 {
  right: 1442px;
  left: 448px;
}
.section-link-image11 {
  right: 1394px;
  left: 496px;
  object-fit: cover;
}
.section-heading12 {
  position: absolute;
  top: 49.5px;
  left: 696.2px;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.5px;
  line-height: 29.92px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 155.5px;
  height: 29.9px;
}
.section-link39,
.section-link40,
.section-link41,
.section-link42 {
  position: absolute;
  top: 94.7px;
  left: 696.2px;
  letter-spacing: 0.5px;
  line-height: 25.38px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 70.4px;
  height: 25.4px;
}
.section-link40,
.section-link41,
.section-link42 {
  left: 881.3px;
  width: 101.8px;
}
.section-link41,
.section-link42 {
  top: 136px;
  left: 696.2px;
  width: 73.4px;
}
.section-link42 {
  left: 881.3px;
  width: 91.5px;
}
.section-link43,
.section-link44,
.section-link45,
.section-link46,
.section-link47,
.section-link48,
.section-link49,
.section-link50 {
  position: absolute;
  top: 177.3px;
  left: 696.2px;
  letter-spacing: 0.5px;
  line-height: 25.38px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 68.4px;
  height: 25.4px;
}
.section-link44,
.section-link45,
.section-link46,
.section-link47,
.section-link48,
.section-link49,
.section-link50 {
  left: 881.3px;
  width: 53px;
}
.section-link45,
.section-link46,
.section-link47,
.section-link48,
.section-link49,
.section-link50 {
  top: 218.5px;
  left: 696.2px;
  width: 84.5px;
}
.section-link46,
.section-link47,
.section-link48,
.section-link49,
.section-link50 {
  left: 881.3px;
  width: 72.5px;
}
.section-link47,
.section-link48,
.section-link49,
.section-link50 {
  top: 259.8px;
  left: 696.2px;
  width: 71.2px;
}
.section-link48,
.section-link49,
.section-link50 {
  left: 881.3px;
  width: 62.8px;
}
.section-link49,
.section-link50 {
  top: 301px;
  left: 696.2px;
  width: 88.9px;
}
.section-link50 {
  left: 881.3px;
  width: 74.5px;
}
.section-heading13,
.section-link51,
.section-link52,
.section-link53,
.section-link54,
.section-link55,
.section-link56,
.section-link57,
.section-link58 {
  position: absolute;
  top: 342.3px;
  left: 696.2px;
  letter-spacing: 0.5px;
  line-height: 25.38px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 79.5px;
  height: 25.4px;
}
.section-heading13,
.section-link52,
.section-link53,
.section-link54,
.section-link55,
.section-link56,
.section-link57,
.section-link58 {
  left: 881.3px;
  width: 99.2px;
}
.section-heading13,
.section-link53,
.section-link54,
.section-link55,
.section-link56,
.section-link57,
.section-link58 {
  top: 383.6px;
  left: 696.2px;
  width: 84.6px;
}
.section-heading13,
.section-link54,
.section-link55,
.section-link56,
.section-link57,
.section-link58 {
  left: 881.3px;
  width: 118.4px;
}
.section-heading13,
.section-link55,
.section-link56,
.section-link57,
.section-link58 {
  top: 424.8px;
  left: 696.2px;
  width: 58.4px;
}
.section-heading13,
.section-link56,
.section-link57,
.section-link58 {
  left: 881.3px;
  width: 60.1px;
}
.section-heading13,
.section-link57,
.section-link58 {
  top: 466.1px;
  left: 696.2px;
  width: 65.3px;
}
.section-heading13,
.section-link58 {
  left: 881.3px;
  width: 88.2px;
}
.section-heading13 {
  top: 49.5px;
  left: 1066.4px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 56.6px;
  height: 29.9px;
}
.section-heading14,
.section-link59,
.section-link60,
.section-link61 {
  position: absolute;
  top: 94.7px;
  left: 1066.4px;
  letter-spacing: 0.5px;
  line-height: 25.38px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 140.8px;
  height: 25.4px;
}
.section-heading14,
.section-link60,
.section-link61 {
  top: 136px;
  width: 147.8px;
}
.section-heading14,
.section-link61 {
  top: 177.3px;
  width: 61.1px;
}
.section-heading14 {
  top: 233.2px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 126.3px;
  height: 29.9px;
}
.oranienburger-str-171 {
  margin: 0;
}
.section-oranienburger-container3 {
  width: 100%;
}
.section-oranienburger-container2 {
  top: 278px;
  line-height: 26.28px;
  font-weight: 300;
  width: 176.9px;
  height: 78.8px;
}
.section-blschestr-container2,
.section-heading15,
.section-oranienburger-container2 {
  position: absolute;
  left: 1066.4px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}
.section-heading15 {
  top: 387px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 165px;
  height: 29.9px;
}
.section-blschestr-container2 {
  top: 431.7px;
  line-height: 26.28px;
  font-weight: 300;
  width: 155.4px;
  height: 78.8px;
}
.link-image3,
.link-image4 {
  position: absolute;
  height: calc(100% - 52px);
  top: 0;
  bottom: 52px;
  left: 0;
  max-height: 100%;
  width: 140px;
  overflow: hidden;
  object-fit: cover;
}
.link-image4 {
  top: 52px;
  bottom: 0;
}
.section-heading16,
.section13 {
  position: absolute;
  left: 1313.2px;
}
.section13 {
  width: calc(100% - 1713.2px);
  top: 50px;
  right: 400px;
  height: 95px;
}
.section-heading16 {
  top: 174.5px;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.5px;
  line-height: 29.92px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 147.2px;
  height: 29.9px;
}
.section-image4 {
  position: absolute;
  top: calc(50% - 138.55px);
  left: 1313.2px;
  border-radius: var(--br-xl);
  width: 20px;
  height: 20px;
  overflow: hidden;
  object-fit: cover;
}
.section-english1,
.section-keyboard-arrow-down1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.section-english1 {
  top: 222.6px;
  left: 1342.2px;
  letter-spacing: 0.5px;
  line-height: 26.28px;
  font-weight: 300;
  width: 61.1px;
  height: 26.3px;
}
.section-keyboard-arrow-down1 {
  top: 222.9px;
  left: 1407.4px;
  font-size: var(--font-size-sm-5);
  line-height: 27px;
  font-family: var(--font-inter);
  width: 27.2px;
  height: 27px;
}
.tandem-speak-container2 {
  position: absolute;
  top: 29.5px;
  left: 395px;
  letter-spacing: 0.5px;
  line-height: 30px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 529.8px;
  height: 60px;
}
.link-image5 {
  position: absolute;
  height: calc(100% - 70px);
  width: calc(100% - 1870px);
  top: 35px;
  right: 395px;
  bottom: 35px;
  left: 1475px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.divstyles-subfooter-3ce1m1,
.footer1 {
  position: absolute;
  width: 100%;
  top: 609.9px;
  right: 0;
  left: 0;
  background-color: var(--color-gray-300);
  height: 120px;
  font-size: var(--font-size-base);
}
.footer1 {
  top: 2373.8px;
  background-color: var(--color-darkslategray-200);
  height: 729.9px;
  font-size: var(--font-size-lg);
}
.header-link-image1 {
  position: absolute;
  height: calc(100% - 3071.7px);
  width: calc(100% - 1760px);
  top: 15.7px;
  right: 1745px;
  bottom: 3056px;
  left: 15px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.header-navigation3,
.header-navigation4 {
  top: 19.8px;
  letter-spacing: 1px;
  line-height: 23.36px;
  height: 23.4px;
}
.header-navigation3 {
  position: absolute;
  left: 220px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 119.2px;
}
.header-navigation4 {
  left: 373.8px;
  width: 36.7px;
}
.header-navigation4,
.header-navigation5,
.log-in1 {
  position: absolute;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.header-navigation5 {
  top: 19.8px;
  left: 445.2px;
  letter-spacing: 1px;
  line-height: 23.36px;
  width: 79.6px;
  height: 23.4px;
}
.log-in1 {
  top: calc(50% - 8.5px);
  left: 46.4px;
  text-decoration: underline;
  letter-spacing: 0.5px;
  line-height: 16px;
  justify-content: center;
  width: 47.6px;
  height: 16px;
}
.header-nav-link-button2 {
  position: absolute;
  top: calc(50% - 1540.15px);
  left: 1610px;
  border-radius: var(--br-21xl);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 140px;
  height: 40px;
  overflow: hidden;
  text-align: center;
}
.sign-up1 {
  position: absolute;
  top: calc(50% - 8.5px);
  left: 41.5px;
  text-decoration: underline;
  letter-spacing: 0.5px;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 57.5px;
  height: 16px;
}
.header-nav-link-button3 {
  position: absolute;
  top: calc(50% - 1540.15px);
  left: 1765px;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkturquoise);
  box-sizing: border-box;
  width: 140px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  color: var(--color-darkturquoise);
}
.faq {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  height: 3103.7px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
