.language-exchange-actively {
  margin: 0;
  font-weight: 300;
}
.regardless-of-which {
  font-weight: 300;
}
.conversation-exchange-interca {
  margin: 0;
}
.language-exchange-actively-container1 {
  width: 100%;
}
.language-exchange-actively-container {
  position: absolute;
  top: 34.3px;
  left: 662.5px;
  letter-spacing: 0.5px;
  line-height: 26.28px;
  display: flex;
  align-items: center;
  width: 560.3px;
  height: 78.8px;
}
.wikipedia {
  text-decoration: underline;
  color: var(--color-darkslategray-300);
}
.language-exchange-is-container {
  position: absolute;
  top: 133.1px;
  left: 662.5px;
  letter-spacing: 0.5px;
  line-height: 26.28px;
  display: flex;
  font-weight: 300;
  align-items: center;
  width: 583.7px;
  height: 105.1px;
}
.in-other-words {
  font-weight: 300;
  font-family: var(--font-roboto);
}
.the-process-of {
  font-weight: 500;
}
.in-other-words-container {
  position: absolute;
  top: 258.2px;
  left: 662.5px;
  letter-spacing: 0.5px;
  line-height: 26.28px;
  display: flex;
  align-items: center;
  width: 571px;
  height: 184px;
}
.section-section2 {
  position: absolute;
  width: 100%;
  top: 648px;
  right: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
  height: 492.7px;
}
.image-icon48 {
  position: absolute;
  height: calc(100% - 49.1px);
  width: calc(100% - 1350px);
  top: 49.1px;
  right: 970px;
  bottom: 0;
  left: 380px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.heading-2-container1 {
  line-break: anywhere;
  width: 100%;
}
.heading-2-container {
  position: absolute;
  top: 49.4px;
  left: calc(50% - 213px);
  letter-spacing: 0.5px;
  line-height: 38.1px;
  display: flex;
  align-items: center;
  width: 426.1px;
  height: 114.3px;
}
.divstyles-infotext-wqo8o1 {
  position: absolute;
  top: calc(50% - 117.15px);
  left: calc(50% - 249px);
  width: 498px;
  height: 194.3px;
}
.start-learning4 {
  position: absolute;
  top: 10.5px;
  left: calc(50% - 58px);
  letter-spacing: 0.5px;
  line-height: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 116.3px;
  height: 18px;
}
.link-button5 {
  position: absolute;
  top: 240.3px;
  left: 206px;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkturquoise);
  border: 1px solid var(--color-darkturquoise);
  box-sizing: border-box;
  width: 178px;
  height: 40px;
  overflow: hidden;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.divstyles-infoblock-ugd-t1 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 950px;
  width: 590px;
}
.section17 {
  position: absolute;
  width: 100%;
  top: 1140.7px;
  right: 0;
  left: 0;
  background-color: var(--color-powderblue);
  height: 326.3px;
  text-align: center;
  font-size: var(--font-size-11xl);
}
.there-are-two-container {
  top: 34.4px;
  line-height: 26.28px;
  font-weight: 300;
  width: 571.7px;
  height: 52.6px;
}
.heading-26,
.there-are-two-container,
.this-is-where-container {
  position: absolute;
  left: 662.5px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}
.heading-26 {
  top: 117px;
  font-size: var(--font-size-11xl);
  text-decoration: underline;
  line-height: 38.1px;
  color: var(--color-darkslategray-300);
  width: 308.5px;
  height: 38.1px;
}
.this-is-where-container {
  top: 184.9px;
  line-height: 26.28px;
  font-weight: 300;
  width: 709.2px;
  height: 147.5px;
}
.having-this-social-container {
  top: 362.6px;
  line-height: 26.28px;
  font-weight: 300;
  width: 567.4px;
  height: 78.8px;
}
.depending-on-the-container,
.digital-communication-has-container,
.having-this-social-container,
.heading-27 {
  position: absolute;
  left: 662.5px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}
.heading-27 {
  top: 471.5px;
  font-size: var(--font-size-11xl);
  line-height: 38.1px;
  width: 376.7px;
  height: 38.1px;
}
.depending-on-the-container,
.digital-communication-has-container {
  top: 539.4px;
  line-height: 26.28px;
  font-weight: 300;
  width: 705.5px;
  height: 121.3px;
}
.depending-on-the-container {
  top: 690.8px;
  width: 590.2px;
  height: 73.1px;
}
.divstyles-button-sta8p,
.link-button6 {
  position: absolute;
  box-sizing: border-box;
}
.link-button6 {
  top: 0;
  left: 208.5px;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkturquoise);
  border: 1px solid var(--color-darkturquoise);
  width: 178px;
  height: 40px;
  overflow: hidden;
}
.divstyles-button-sta8p {
  top: 794px;
  left: calc(50% - 297.5px);
  border-bottom: 1px solid var(--color-darkgray-200);
  width: 595px;
  height: 91px;
  text-align: center;
  color: var(--color-white);
}
.section-section3 {
  position: absolute;
  width: 100%;
  top: 1467px;
  right: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
  height: 885px;
}
.heading-28 {
  position: absolute;
  top: 49.5px;
  left: 662.5px;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.5px;
  line-height: 38.1px;
  display: flex;
  align-items: center;
  width: 362.3px;
  height: 38.1px;
}
.here-are-some-container {
  top: 117.4px;
  left: 662.5px;
  letter-spacing: 0.5px;
  line-height: 26.28px;
  font-weight: 300;
  width: 522.8px;
  height: 52.6px;
}
.blockquote-there-container,
.here-are-some-container,
.strong-improvement {
  position: absolute;
  display: flex;
  align-items: center;
}
.blockquote-there-container {
  top: 190.1px;
  left: 355px;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.6px;
  line-height: 38.1px;
  font-weight: 700;
  width: 245px;
  height: 266.7px;
}
.strong-improvement {
  top: 190px;
  left: 662.5px;
  letter-spacing: 0.5px;
  line-height: 26.28px;
  font-weight: 500;
  width: 321.3px;
  height: 26.3px;
}
.cultural-identity-is-container,
.figure-figcaption-container,
.it-offers-a-container,
.strong-development,
.the-most-effective-container {
  position: absolute;
  top: 236.2px;
  left: 662.5px;
  letter-spacing: 0.5px;
  line-height: 26.28px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 594.9px;
  height: 157.7px;
}
.cultural-identity-is-container,
.figure-figcaption-container,
.it-offers-a-container,
.strong-development {
  top: 413.8px;
  width: 566px;
  height: 78.8px;
}
.cultural-identity-is-container,
.figure-figcaption-container,
.strong-development {
  top: 512.6px;
  font-weight: 500;
  width: 357.9px;
  height: 26.3px;
}
.cultural-identity-is-container,
.figure-figcaption-container {
  top: 558.9px;
  font-weight: 300;
  width: 583.8px;
  height: 131.4px;
}
.figure-figcaption-container {
  top: 994.1px;
  left: 1282.8px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.4px;
  line-height: 19.04px;
  color: var(--color-gray-100);
  width: 275.5px;
  height: 57.1px;
}
.figure-image {
  position: absolute;
  height: calc(100% - 1636.3px);
  width: calc(100% - 1637.8px);
  top: 710.9px;
  right: 355px;
  bottom: 925.4px;
  left: 1282.8px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.strong-builds {
  position: absolute;
  top: 710.2px;
  left: 662.5px;
  letter-spacing: 0.5px;
  line-height: 26.28px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 158.2px;
  height: 26.3px;
}
.many-the-main {
  color: var(--color-gray-200);
}
.in-order-to-container,
.speaking-the-language-container,
.strong-finding,
.strong-need-container {
  position: absolute;
  top: 756.5px;
  left: 662.5px;
  letter-spacing: 0.5px;
  line-height: 26.28px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 553.8px;
  height: 157.7px;
}
.in-order-to-container,
.strong-finding,
.strong-need-container {
  top: 934.1px;
  font-weight: 500;
  width: 375.9px;
  height: 26.3px;
}
.in-order-to-container,
.strong-finding {
  top: 980.3px;
  font-weight: 300;
  width: 575.2px;
  height: 131.4px;
}
.strong-finding {
  top: 1131.7px;
  font-weight: 500;
  width: 382.1px;
  height: 26.3px;
}
.to-have-a-container {
  top: 1177.9px;
  left: 662.5px;
  line-height: 26.28px;
  font-weight: 300;
  width: 592.8px;
  height: 157.7px;
}
.to-discover-more-container,
.to-have-a-container,
.we-need-your {
  position: absolute;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}
.to-discover-more-container {
  top: 1355.5px;
  left: 662.5px;
  line-height: 26.28px;
  font-weight: 300;
  width: 575px;
  height: 52.6px;
}
.we-need-your {
  top: -0.6px;
  left: calc(50% - 277.8px);
  line-height: 38.1px;
  justify-content: center;
  width: 555.8px;
  height: 38.1px;
}
.heading-29 {
  position: absolute;
  width: calc(100% - 36px);
  top: 53.5px;
  right: 18px;
  left: 18px;
  height: 38.6px;
  font-size: var(--font-size-11xl);
}
.please-review-the {
  position: absolute;
  top: -0.6px;
  left: calc(50% - 355px);
  letter-spacing: 0.5px;
  line-height: 26.28px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 710.4px;
  height: 26.3px;
}
.p2 {
  position: absolute;
  width: calc(100% - 36px);
  top: 109.4px;
  right: 18px;
  left: 18px;
  height: 26.9px;
}
.accept-cookies {
  position: absolute;
  top: 10.5px;
  left: calc(50% - 66.65px);
  letter-spacing: 0.5px;
  line-height: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 133.6px;
  height: 18px;
}
.button2 {
  position: absolute;
  top: 0;
  left: calc(50% - 97.6px);
  border-radius: var(--br-21xl);
  background-color: var(--color-darkturquoise);
  border: 1px solid var(--color-darkturquoise);
  box-sizing: border-box;
  width: 195.3px;
  height: 40px;
  overflow: hidden;
}
.settings {
  position: absolute;
  top: 10.5px;
  left: calc(50% - 35.3px);
  letter-spacing: 0.5px;
  line-height: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70.9px;
  height: 18px;
}
.button3 {
  position: absolute;
  top: 76px;
  left: calc(50% - 70px);
  border-radius: var(--br-21xl);
  width: 140px;
  height: 40px;
  overflow: hidden;
  color: var(--color-darkturquoise);
}
.divstyles-buttons-bx63c {
  position: absolute;
  width: calc(100% - 36px);
  top: 172.4px;
  right: 18px;
  left: 18px;
  height: 116px;
  color: var(--color-white);
}
.divstyles-embed-fobwv {
  position: absolute;
  top: 1428.7px;
  left: calc(50% - 500px);
  border-radius: var(--br-8xl);
  background-color: var(--color-darkturquoise-100);
  width: 1000px;
  height: 342.4px;
  text-align: center;
}
.divstyles-button-sta8p1 {
  position: absolute;
  top: 1819.1px;
  left: calc(50% - 297.5px);
  border-bottom: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
  width: 595px;
  height: 91px;
  text-align: center;
  color: var(--color-white);
}
.section-section4 {
  position: absolute;
  width: 100%;
  top: 2352px;
  right: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
  height: 1910.1px;
}
.heading-210 {
  position: absolute;
  top: 49.5px;
  left: 662.5px;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.5px;
  line-height: 38.1px;
  display: flex;
  align-items: center;
  width: 398.4px;
  height: 38.1px;
}
.figure-figcaption-container2,
.our-core-value-container,
.tandem-language-exchange-container,
.the-tandem-language-container {
  position: absolute;
  top: 117.4px;
  left: 662.5px;
  letter-spacing: 0.5px;
  line-height: 26.28px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 593.6px;
  height: 157.7px;
}
.figure-figcaption-container2,
.our-core-value-container,
.tandem-language-exchange-container {
  top: 295px;
  width: 591px;
  height: 105.1px;
}
.figure-figcaption-container2,
.tandem-language-exchange-container {
  top: 420.1px;
  width: 572px;
  height: 52.6px;
}
.figure-figcaption-container2 {
  top: 794px;
  left: 460px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.4px;
  line-height: 19.04px;
  color: var(--color-gray-100);
  width: 486.8px;
  height: 57.1px;
}
.figure-image1 {
  position: absolute;
  height: calc(100% - 811px);
  width: calc(100% - 920px);
  top: 523.3px;
  right: 460px;
  bottom: 287.7px;
  left: 460px;
  overflow: hidden;
}
.heading-211,
.there-are-many-container {
  position: absolute;
  left: 662.5px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}
.heading-211 {
  top: 901px;
  font-size: var(--font-size-11xl);
  line-height: 38.1px;
  width: 363.4px;
  height: 38.1px;
}
.there-are-many-container {
  top: 969px;
  line-height: 26.28px;
  font-weight: 300;
  width: 559px;
  height: 52.6px;
}
.section-section5 {
  position: absolute;
  width: 100%;
  top: 4262px;
  right: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
  height: 1072.2px;
}
.heading-36 {
  top: 39.5px;
  line-height: 29.92px;
  font-weight: 500;
  width: 314.3px;
  height: 29.9px;
}
.heading-3-container,
.heading-36,
.the-tandem-app-container,
.with-millions-of-container {
  position: absolute;
  left: 480px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}
.the-tandem-app-container {
  top: 87.2px;
  font-size: var(--font-size-lg);
  line-height: 26.28px;
  font-weight: 300;
  width: 439.1px;
  height: 105.1px;
}
.heading-3-container,
.with-millions-of-container {
  top: 222.5px;
  line-height: 29.92px;
  font-weight: 500;
  width: 404.3px;
  height: 59.8px;
}
.with-millions-of-container {
  top: 300.1px;
  font-size: var(--font-size-lg);
  line-height: 26.28px;
  font-weight: 300;
  width: 450.5px;
  height: 184px;
}
.heading-37 {
  top: 39.5px;
  line-height: 29.92px;
  font-weight: 500;
  width: 344.1px;
  height: 29.9px;
}
.heading-37,
.heading-38,
.we-have-a-container {
  position: absolute;
  left: 980px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}
.we-have-a-container {
  top: 87.2px;
  font-size: var(--font-size-lg);
  line-height: 26.28px;
  font-weight: 300;
  width: 459.9px;
  height: 157.7px;
}
.heading-38 {
  top: 275px;
  line-height: 29.92px;
  font-weight: 500;
  width: 211px;
  height: 29.9px;
}
.tandem {
  font-weight: 500;
  font-family: var(--font-roboto);
}
.having-the-opportunity-container {
  position: absolute;
  top: 322.7px;
  left: 980px;
  font-size: var(--font-size-lg);
  letter-spacing: 0.5px;
  line-height: 26.28px;
  display: flex;
  align-items: center;
  width: 459.7px;
  height: 131.4px;
}
.section-section6 {
  position: absolute;
  width: 100%;
  top: 5334.3px;
  right: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
  height: 507.1px;
  font-size: var(--font-size-3xl);
}
.how-to-create {
  text-decoration: underline;
}
.check-out-our-articles-on-how {
  margin: 0;
  color: var(--color-darkslategray-300);
}
.check-out-our-container {
  position: absolute;
  top: 34.3px;
  left: 662.5px;
  letter-spacing: 0.5px;
  line-height: 26.28px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 571.7px;
  height: 78.8px;
}
.section-section7 {
  position: absolute;
  width: 100%;
  top: 5841.4px;
  right: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
  height: 163.8px;
}
.p3 {
  position: absolute;
  width: calc(100% - 36px);
  top: 109.5px;
  right: 18px;
  left: 18px;
  height: 26.9px;
}
.divstyles-embed-fobwv1 {
  position: absolute;
  top: 38px;
  left: calc(50% - 500px);
  border-radius: var(--br-8xl);
  background-color: var(--color-darkturquoise-100);
  width: 1000px;
  height: 342.4px;
}
.section-section8,
.section18 {
  position: absolute;
  width: 100%;
  top: 6005.2px;
  right: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
  height: 428.4px;
  text-align: center;
}
.section18 {
  top: 6433.6px;
  background-color: var(--color-powderblue);
  height: 326.3px;
  font-size: var(--font-size-11xl);
}
.picture-image5 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 960px);
  max-height: 100%;
  width: 1920px;
  overflow: hidden;
  object-fit: cover;
}
.everything-you-need-to-know-ab,
.heading-14 {
  position: absolute;
  display: flex;
  align-items: center;
}
.heading-14 {
  top: 246px;
  left: calc(50% - 359.6px);
  letter-spacing: 2.5px;
  font-weight: 500;
  justify-content: center;
  width: 719.5px;
  height: 58px;
}
.everything-you-need-to-know-ab {
  top: 17.4px;
  left: calc(50% - 204.2px);
  letter-spacing: 0.5px;
  line-height: 26.28px;
  font-weight: 300;
  width: 490px;
  height: 52.6px;
  text-shadow: 1px 1px 30px #444;
}
.divstyles-blurb-y-elg1 {
  position: absolute;
  top: 334px;
  left: calc(50% - 240px);
  width: 480px;
  height: 93px;
  font-size: var(--font-size-lg);
}
.after3 {
  height: 100%;
  bottom: 0;
  background-color: var(--color-gray-500);
}
.after3,
.main3,
.section19 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.section19 {
  background-color: var(--color-darkslategray-100);
  height: 648px;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
}
.main3 {
  height: 6759.8px;
  font-size: var(--font-size-lg);
  color: var(--color-gray-200);
}
.section-heading24,
.section-link93 {
  position: absolute;
  left: 400px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}
.section-heading24 {
  top: 49.5px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 193.2px;
  height: 29.9px;
}
.section-link93 {
  top: 94.7px;
  line-height: 25.38px;
  font-weight: 300;
  width: 33.8px;
  height: 25.4px;
}
.section-heading25,
.section-link100,
.section-link94,
.section-link95,
.section-link96,
.section-link97,
.section-link98,
.section-link99 {
  position: absolute;
  top: 136px;
  left: 400px;
  letter-spacing: 0.5px;
  line-height: 25.38px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 76.6px;
  height: 25.4px;
}
.section-heading25,
.section-link100,
.section-link95,
.section-link96,
.section-link97,
.section-link98,
.section-link99 {
  top: 177.3px;
  width: 92.8px;
}
.section-heading25,
.section-link100,
.section-link96,
.section-link97,
.section-link98,
.section-link99 {
  top: 218.5px;
  width: 183.4px;
}
.section-heading25,
.section-link100,
.section-link97,
.section-link98,
.section-link99 {
  top: 259.8px;
  width: 204.4px;
}
.section-heading25,
.section-link100,
.section-link98,
.section-link99 {
  top: 301px;
  width: 64.9px;
}
.section-heading25,
.section-link100,
.section-link99 {
  top: 342.3px;
  width: 47.3px;
}
.section-heading25,
.section-link100 {
  top: 383.6px;
  width: 167.8px;
}
.section-heading25 {
  top: 439.6px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 133.3px;
  height: 29.9px;
}
.section-link-image18,
.section-link-image19,
.section-link-image20 {
  position: absolute;
  width: calc(100% - 1890px);
  top: 484.9px;
  max-width: 100%;
  overflow: hidden;
  height: 30px;
}
.section-link-image18 {
  right: 1490px;
  left: 400px;
  object-fit: cover;
}
.section-link-image19,
.section-link-image20 {
  right: 1442px;
  left: 448px;
}
.section-link-image20 {
  right: 1394px;
  left: 496px;
  object-fit: cover;
}
.section-link-image21,
.section-link-image22,
.section-link-image23 {
  position: absolute;
  width: calc(100% - 1890px);
  top: 529.9px;
  max-width: 100%;
  overflow: hidden;
  height: 30px;
}
.section-link-image21 {
  right: 1490px;
  left: 400px;
  object-fit: cover;
}
.section-link-image22,
.section-link-image23 {
  right: 1442px;
  left: 448px;
}
.section-link-image23 {
  right: 1394px;
  left: 496px;
  object-fit: cover;
}
.section-heading26 {
  position: absolute;
  top: 49.5px;
  left: 696.2px;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.5px;
  line-height: 29.92px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 155.5px;
  height: 29.9px;
}
.section-link101,
.section-link102,
.section-link103,
.section-link104,
.section-link105,
.section-link106 {
  position: absolute;
  top: 94.7px;
  left: 696.2px;
  letter-spacing: 0.5px;
  line-height: 25.38px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 70.4px;
  height: 25.4px;
}
.section-link102,
.section-link103,
.section-link104,
.section-link105,
.section-link106 {
  left: 881.3px;
  width: 101.8px;
}
.section-link103,
.section-link104,
.section-link105,
.section-link106 {
  top: 136px;
  left: 696.2px;
  width: 73.4px;
}
.section-link104,
.section-link105,
.section-link106 {
  left: 881.3px;
  width: 91.5px;
}
.section-link105,
.section-link106 {
  top: 177.3px;
  left: 696.2px;
  width: 68.4px;
}
.section-link106 {
  left: 881.3px;
  width: 53px;
}
.section-link107,
.section-link108,
.section-link109,
.section-link110,
.section-link111,
.section-link112,
.section-link113,
.section-link114 {
  position: absolute;
  top: 218.5px;
  left: 696.2px;
  letter-spacing: 0.5px;
  line-height: 25.38px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 84.5px;
  height: 25.4px;
}
.section-link108,
.section-link109,
.section-link110,
.section-link111,
.section-link112,
.section-link113,
.section-link114 {
  left: 881.3px;
  width: 72.5px;
}
.section-link109,
.section-link110,
.section-link111,
.section-link112,
.section-link113,
.section-link114 {
  top: 259.8px;
  left: 696.2px;
  width: 71.2px;
}
.section-link110,
.section-link111,
.section-link112,
.section-link113,
.section-link114 {
  left: 881.3px;
  width: 62.8px;
}
.section-link111,
.section-link112,
.section-link113,
.section-link114 {
  top: 301px;
  left: 696.2px;
  width: 88.9px;
}
.section-link112,
.section-link113,
.section-link114 {
  left: 881.3px;
  width: 74.5px;
}
.section-link113,
.section-link114 {
  top: 342.3px;
  left: 696.2px;
  width: 79.5px;
}
.section-link114 {
  left: 881.3px;
  width: 99.2px;
}
.section-heading27,
.section-link115,
.section-link116,
.section-link117,
.section-link118,
.section-link119,
.section-link120 {
  position: absolute;
  top: 383.6px;
  left: 696.2px;
  letter-spacing: 0.5px;
  line-height: 25.38px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 84.6px;
  height: 25.4px;
}
.section-heading27,
.section-link116,
.section-link117,
.section-link118,
.section-link119,
.section-link120 {
  left: 881.3px;
  width: 118.4px;
}
.section-heading27,
.section-link117,
.section-link118,
.section-link119,
.section-link120 {
  top: 424.9px;
  left: 696.2px;
  width: 58.4px;
}
.section-heading27,
.section-link118,
.section-link119,
.section-link120 {
  left: 881.3px;
  width: 60.1px;
}
.section-heading27,
.section-link119,
.section-link120 {
  top: 466.1px;
  left: 696.2px;
  width: 65.3px;
}
.section-heading27,
.section-link120 {
  left: 881.3px;
  width: 88.2px;
}
.section-heading27 {
  top: 49.5px;
  left: 1066.4px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 56.6px;
  height: 29.9px;
}
.section-heading28,
.section-link121,
.section-link122,
.section-link123 {
  position: absolute;
  top: 94.7px;
  left: 1066.4px;
  letter-spacing: 0.5px;
  line-height: 25.38px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 140.8px;
  height: 25.4px;
}
.section-heading28,
.section-link122,
.section-link123 {
  top: 136px;
  width: 147.8px;
}
.section-heading28,
.section-link123 {
  top: 177.3px;
  width: 61.1px;
}
.section-heading28 {
  top: 233.3px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 126.3px;
  height: 29.9px;
}
.section-oranienburger-container6 {
  top: 278px;
  line-height: 26.28px;
  font-weight: 300;
  width: 176.9px;
  height: 78.8px;
}
.section-blschestr-container6,
.section-heading29,
.section-oranienburger-container6 {
  position: absolute;
  left: 1066.4px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}
.section-heading29 {
  top: 387px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 165px;
  height: 29.9px;
}
.section-blschestr-container6 {
  top: 431.7px;
  line-height: 26.28px;
  font-weight: 300;
  width: 155.4px;
  height: 78.8px;
}
.link-image10,
.link-image9 {
  position: absolute;
  height: calc(100% - 52px);
  top: 0;
  bottom: 52px;
  left: 0;
  max-height: 100%;
  width: 140px;
  overflow: hidden;
  object-fit: cover;
}
.link-image10 {
  top: 52px;
  bottom: 0;
}
.section-heading30,
.section20 {
  position: absolute;
  left: 1313.2px;
}
.section20 {
  width: calc(100% - 1713.2px);
  top: 50px;
  right: 400px;
  height: 95px;
}
.section-heading30 {
  top: 174.5px;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.5px;
  line-height: 29.92px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 147.2px;
  height: 29.9px;
}
.section-image6 {
  position: absolute;
  top: calc(50% - 138.55px);
  left: 1313.2px;
  border-radius: var(--br-xl);
  width: 20px;
  height: 20px;
  overflow: hidden;
  object-fit: cover;
}
.section-english3,
.section-keyboard-arrow-down3 {
  position: absolute;
  display: flex;
  align-items: center;
}
.section-english3 {
  top: 222.6px;
  left: 1342.2px;
  letter-spacing: 0.5px;
  line-height: 26.28px;
  font-weight: 300;
  width: 61.1px;
  height: 26.3px;
}
.section-keyboard-arrow-down3 {
  top: 222.9px;
  left: 1407.4px;
  font-size: var(--font-size-sm-5);
  line-height: 27px;
  font-family: var(--font-inter);
  width: 27.2px;
  height: 27px;
}
.tandem-speak-container8 {
  position: absolute;
  top: 29.5px;
  left: 395px;
  letter-spacing: 0.5px;
  line-height: 30px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 529.8px;
  height: 60px;
}
.link-image11 {
  position: absolute;
  height: calc(100% - 70px);
  width: calc(100% - 1870px);
  top: 35px;
  right: 395px;
  bottom: 35px;
  left: 1475px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.divstyles-subfooter-3ce1m3,
.footer4 {
  position: absolute;
  width: 100%;
  top: 609.9px;
  right: 0;
  left: 0;
  background-color: var(--color-gray-300);
  height: 120px;
  font-size: var(--font-size-base);
}
.footer4 {
  top: 6759.8px;
  background-color: var(--color-darkslategray-200);
  height: 729.9px;
  font-size: var(--font-size-lg);
}
.header-link-image3 {
  position: absolute;
  height: calc(100% - 7457.8px);
  width: calc(100% - 1760px);
  top: 15.7px;
  right: 1745px;
  bottom: 7442.1px;
  left: 15px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.header-navigation10,
.header-navigation9 {
  top: 19.8px;
  letter-spacing: 1px;
  line-height: 23.36px;
  height: 23.4px;
}
.header-navigation9 {
  position: absolute;
  left: 220px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 119.2px;
}
.header-navigation10 {
  left: 373.8px;
  width: 36.7px;
}
.header-navigation10,
.header-navigation11,
.log-in4 {
  position: absolute;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.header-navigation11 {
  top: 19.8px;
  left: 445.2px;
  letter-spacing: 1px;
  line-height: 23.36px;
  width: 79.6px;
  height: 23.4px;
}
.log-in4 {
  top: calc(50% - 8.5px);
  left: 46.4px;
  text-decoration: underline;
  letter-spacing: 0.5px;
  line-height: 16px;
  justify-content: center;
  width: 47.6px;
  height: 16px;
}
.header-nav-link-button6 {
  position: absolute;
  top: calc(50% - 3733.2px);
  left: 1610px;
  border-radius: var(--br-21xl);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 140px;
  height: 40px;
  overflow: hidden;
  text-align: center;
}
.sign-up4 {
  position: absolute;
  top: calc(50% - 8.5px);
  left: 41.5px;
  text-decoration: underline;
  letter-spacing: 0.5px;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 57.5px;
  height: 16px;
}
.header-nav-link-button7 {
  position: absolute;
  top: calc(50% - 3733.2px);
  left: 1765px;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkturquoise);
  box-sizing: border-box;
  width: 140px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  color: var(--color-darkturquoise);
}
.blog {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  height: 7489.8px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
