.its-one-thing {
  margin: 0;
}
.its-one-thing-container1 {
  width: 100%;
}
.its-one-thing-container,
.test-your-english,
.weve-developed-our-container {
  position: absolute;
  top: 34.3px;
  left: 662.5px;
  letter-spacing: 0.5px;
  line-height: 26.28px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 594.8px;
  height: 105.1px;
}
.test-your-english,
.weve-developed-our-container {
  top: 159.4px;
  width: 593.2px;
  height: 109.6px;
}
.test-your-english {
  top: 10.5px;
  left: 31px;
  line-height: 18px;
  font-weight: 500;
  justify-content: center;
  width: 245.4px;
  height: 18px;
}
.link-button11 {
  position: absolute;
  top: 0;
  left: 144px;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkblue);
  border: 1px solid var(--color-darkblue);
  box-sizing: border-box;
  width: 307px;
  height: 40px;
  overflow: hidden;
}
.divstyles-button-sta8p4 {
  position: absolute;
  top: 288.9px;
  left: calc(50% - 297.5px);
  border-bottom: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
  width: 595px;
  height: 91px;
  text-align: center;
  color: var(--color-white);
}
.section-section32 {
  position: absolute;
  width: 100%;
  top: 648px;
  right: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
  height: 379.9px;
}
.hard-work-pays-container,
.heading-216,
.the-45-minute-long-english-container {
  position: absolute;
  left: 662.5px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}
.heading-216 {
  top: 49.5px;
  font-size: var(--font-size-11xl);
  line-height: 38.1px;
  width: 429.4px;
  height: 38.1px;
}
.hard-work-pays-container,
.the-45-minute-long-english-container {
  top: 117.4px;
  line-height: 26.28px;
  font-weight: 300;
  width: 586.5px;
  height: 131.4px;
}
.the-45-minute-long-english-container {
  top: 268.8px;
  width: 592.5px;
}
.figure-image12 {
  position: absolute;
  height: calc(100% - 878.4px);
  width: calc(100% - 920px);
  top: 450.8px;
  right: 460px;
  bottom: 427.6px;
  left: 460px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.heading-311,
.our-tandem-tests-container {
  position: absolute;
  left: 662.5px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}
.heading-311 {
  top: 925.3px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 287.9px;
  height: 29.9px;
}
.our-tandem-tests-container {
  top: 970px;
  line-height: 26.28px;
  font-weight: 300;
  width: 590.6px;
  height: 105.1px;
}
.span9 {
  color: var(--color-gray-200);
}
.tandem-currently-offers-container {
  position: absolute;
  top: 1095.1px;
  left: 662.5px;
  letter-spacing: 0.5px;
  line-height: 26.28px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 591px;
  height: 157.7px;
}
.section-section33 {
  position: absolute;
  width: 100%;
  top: 1027.9px;
  right: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
  height: 1303.4px;
}
.heading-5-image {
  position: absolute;
  top: calc(50% - 141.15px);
  left: 662.5px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  object-fit: cover;
}
.a2-level-is-container,
.find-out-more,
.heading-5 {
  position: absolute;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}
.heading-5 {
  top: 59.6px;
  left: 727.5px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 190px;
  height: 29.9px;
}
.a2-level-is-container,
.find-out-more {
  top: 109.3px;
  left: 662.5px;
  line-height: 26.28px;
  font-weight: 300;
  width: 564.8px;
  height: 131.4px;
}
.find-out-more {
  top: 10.5px;
  left: 31px;
  line-height: 18px;
  font-weight: 500;
  justify-content: center;
  width: 200.2px;
  height: 18px;
}
.link-button12 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-21xl);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 261.9px;
  height: 40px;
  overflow: hidden;
}
.divstyles-button-sta8p5 {
  position: absolute;
  top: 291.3px;
  left: calc(50% - 297.5px);
  border-bottom: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
  width: 595px;
  height: 91px;
  text-align: center;
  color: var(--color-dimgray);
}
.section-section34 {
  position: absolute;
  width: 100%;
  top: 2331.2px;
  right: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
  height: 382.3px;
}
.b1-is-the-container,
.find-out-more1,
.heading-51 {
  position: absolute;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}
.heading-51 {
  top: 59.6px;
  left: 727.5px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 189.3px;
  height: 29.9px;
}
.b1-is-the-container,
.find-out-more1 {
  top: 109.3px;
  left: 662.5px;
  line-height: 26.28px;
  font-weight: 300;
  width: 578.1px;
  height: 131.4px;
}
.find-out-more1 {
  top: 10.5px;
  left: 31px;
  line-height: 18px;
  font-weight: 500;
  justify-content: center;
  width: 199.6px;
  height: 18px;
}
.link-button13 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-21xl);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 261.3px;
  height: 40px;
  overflow: hidden;
}
.section-section35 {
  position: absolute;
  width: 100%;
  top: 2713.6px;
  right: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
  height: 382.3px;
}
.heading-5-image2 {
  position: absolute;
  top: calc(50% - 154.3px);
  left: 662.5px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  object-fit: cover;
}
.the-fourth-level-container {
  position: absolute;
  top: 109.3px;
  left: 662.5px;
  letter-spacing: 0.5px;
  line-height: 26.28px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 583px;
  height: 157.7px;
}
.divstyles-button-sta8p7 {
  position: absolute;
  top: 317.6px;
  left: calc(50% - 297.5px);
  border-bottom: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
  width: 595px;
  height: 91px;
  text-align: center;
  color: var(--color-dimgray);
}
.section-section36 {
  position: absolute;
  width: 100%;
  top: 3095.9px;
  right: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
  height: 408.6px;
}
.find-out-more3,
.heading-53,
.reaching-a-c1-container {
  position: absolute;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}
.heading-53 {
  top: 59.6px;
  left: 727.5px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 189.8px;
  height: 29.9px;
}
.find-out-more3,
.reaching-a-c1-container {
  top: 109.3px;
  left: 662.5px;
  line-height: 26.28px;
  font-weight: 300;
  width: 594.5px;
  height: 131.4px;
}
.find-out-more3 {
  top: 10.5px;
  left: 31px;
  line-height: 18px;
  font-weight: 500;
  justify-content: center;
  width: 200px;
  height: 18px;
}
.link-button15 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-21xl);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 261.6px;
  height: 40px;
  overflow: hidden;
}
.section-section37 {
  position: absolute;
  width: 100%;
  top: 3504.5px;
  right: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
  height: 382.3px;
}
.heading-2-container6,
.the-next-step-container {
  position: absolute;
  left: 662.5px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}
.heading-2-container6 {
  top: 49.4px;
  font-size: var(--font-size-11xl);
  line-height: 38.1px;
  width: 552.6px;
  height: 76.2px;
}
.the-next-step-container {
  top: 155.5px;
  line-height: 26.28px;
  font-weight: 300;
  width: 692.8px;
  height: 95.2px;
}
.tandem-certificates {
  text-decoration: underline;
}
.faqs {
  margin: 0;
  color: var(--color-darkslategray-300);
}
.if-you-still-container,
.test-your-english1 {
  position: absolute;
  top: 280.6px;
  left: 662.5px;
  letter-spacing: 0.5px;
  line-height: 26.28px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 562.9px;
  height: 73.3px;
}
.test-your-english1 {
  top: 10.5px;
  left: 31px;
  line-height: 18px;
  font-weight: 500;
  justify-content: center;
  width: 290.8px;
  height: 18px;
}
.link-button16 {
  position: absolute;
  top: 0;
  left: 121.3px;
  border-radius: var(--br-21xl);
  background-color: var(--color-darkblue);
  border: 1px solid var(--color-darkblue);
  box-sizing: border-box;
  width: 352.5px;
  height: 40px;
  overflow: hidden;
}
.divstyles-button-sta8p9 {
  position: absolute;
  top: 383.8px;
  left: calc(50% - 297.5px);
  border-bottom: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
  width: 595px;
  height: 91px;
  text-align: center;
  color: var(--color-white);
}
.section-section38 {
  position: absolute;
  width: 100%;
  top: 3886.8px;
  right: 0;
  left: 0;
  background-color: var(--color-whitesmoke);
  height: 474.8px;
}
.picture-image7 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 960px);
  max-height: 100%;
  width: 1920px;
  overflow: hidden;
  object-fit: cover;
}
.heading-15,
.put-yourself-to-the-tandem-tes {
  position: absolute;
  top: 259.1px;
  left: calc(50% - 377.7px);
  letter-spacing: 2.5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 755.8px;
  height: 58px;
}
.put-yourself-to-the-tandem-tes {
  top: 17.4px;
  left: calc(50% - 130.9px);
  letter-spacing: 0.5px;
  line-height: 26.28px;
  font-weight: 300;
  width: 262.1px;
  height: 26.3px;
  text-shadow: 1px 1px 30px #444;
}
.divstyles-blurb-y-elg2 {
  position: absolute;
  top: 347.1px;
  left: calc(50% - 130.9px);
  width: 261.8px;
  height: 66.8px;
  font-size: var(--font-size-lg);
}
.main5,
.section47 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.section47 {
  background-color: var(--color-darkslategray-100);
  height: 648px;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
}
.main5 {
  height: 4361.6px;
  font-size: var(--font-size-lg);
  color: var(--color-gray-200);
}
.section-heading67,
.section-link155 {
  position: absolute;
  left: 400px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}
.section-heading67 {
  top: 49.5px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 193.2px;
  height: 29.9px;
}
.section-link155 {
  top: 94.7px;
  line-height: 25.38px;
  font-weight: 300;
  width: 33.8px;
  height: 25.4px;
}
.section-heading68,
.section-link156,
.section-link157,
.section-link158,
.section-link159,
.section-link160,
.section-link161,
.section-link162 {
  position: absolute;
  top: 136px;
  left: 400px;
  letter-spacing: 0.5px;
  line-height: 25.38px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 76.6px;
  height: 25.4px;
}
.section-heading68,
.section-link157,
.section-link158,
.section-link159,
.section-link160,
.section-link161,
.section-link162 {
  top: 177.3px;
  width: 92.8px;
}
.section-heading68,
.section-link158,
.section-link159,
.section-link160,
.section-link161,
.section-link162 {
  top: 218.5px;
  width: 183.4px;
}
.section-heading68,
.section-link159,
.section-link160,
.section-link161,
.section-link162 {
  top: 259.8px;
  width: 204.4px;
}
.section-heading68,
.section-link160,
.section-link161,
.section-link162 {
  top: 301px;
  width: 64.9px;
}
.section-heading68,
.section-link161,
.section-link162 {
  top: 342.3px;
  width: 47.3px;
}
.section-heading68,
.section-link162 {
  top: 383.6px;
  width: 167.8px;
}
.section-heading68 {
  top: 439.6px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 133.3px;
  height: 29.9px;
}
.section-link-image30,
.section-link-image31,
.section-link-image32 {
  position: absolute;
  width: calc(100% - 1890px);
  top: 484.9px;
  max-width: 100%;
  overflow: hidden;
  height: 30px;
}
.section-link-image30 {
  right: 1490px;
  left: 400px;
  object-fit: cover;
}
.section-link-image31,
.section-link-image32 {
  right: 1442px;
  left: 448px;
}
.section-link-image32 {
  right: 1394px;
  left: 496px;
  object-fit: cover;
}
.section-link-image33,
.section-link-image34,
.section-link-image35 {
  position: absolute;
  width: calc(100% - 1890px);
  top: 529.9px;
  max-width: 100%;
  overflow: hidden;
  height: 30px;
}
.section-link-image33 {
  right: 1490px;
  left: 400px;
  object-fit: cover;
}
.section-link-image34,
.section-link-image35 {
  right: 1442px;
  left: 448px;
}
.section-link-image35 {
  right: 1394px;
  left: 496px;
  object-fit: cover;
}
.section-heading69 {
  position: absolute;
  top: 49.5px;
  left: 696.2px;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.5px;
  line-height: 29.92px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 155.5px;
  height: 29.9px;
}
.section-link163,
.section-link164,
.section-link165,
.section-link166,
.section-link167,
.section-link168 {
  position: absolute;
  top: 94.7px;
  left: 696.2px;
  letter-spacing: 0.5px;
  line-height: 25.38px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 70.4px;
  height: 25.4px;
}
.section-link164,
.section-link165,
.section-link166,
.section-link167,
.section-link168 {
  left: 881.3px;
  width: 101.8px;
}
.section-link165,
.section-link166,
.section-link167,
.section-link168 {
  top: 136px;
  left: 696.2px;
  width: 73.4px;
}
.section-link166,
.section-link167,
.section-link168 {
  left: 881.3px;
  width: 91.5px;
}
.section-link167,
.section-link168 {
  top: 177.3px;
  left: 696.2px;
  width: 68.4px;
}
.section-link168 {
  left: 881.3px;
  width: 53px;
}
.section-link169,
.section-link170,
.section-link171,
.section-link172,
.section-link173,
.section-link174,
.section-link175,
.section-link176 {
  position: absolute;
  top: 218.5px;
  left: 696.2px;
  letter-spacing: 0.5px;
  line-height: 25.38px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 84.5px;
  height: 25.4px;
}
.section-link170,
.section-link171,
.section-link172,
.section-link173,
.section-link174,
.section-link175,
.section-link176 {
  left: 881.3px;
  width: 72.5px;
}
.section-link171,
.section-link172,
.section-link173,
.section-link174,
.section-link175,
.section-link176 {
  top: 259.8px;
  left: 696.2px;
  width: 71.2px;
}
.section-link172,
.section-link173,
.section-link174,
.section-link175,
.section-link176 {
  left: 881.3px;
  width: 62.8px;
}
.section-link173,
.section-link174,
.section-link175,
.section-link176 {
  top: 301px;
  left: 696.2px;
  width: 88.9px;
}
.section-link174,
.section-link175,
.section-link176 {
  left: 881.3px;
  width: 74.5px;
}
.section-link175,
.section-link176 {
  top: 342.3px;
  left: 696.2px;
  width: 79.5px;
}
.section-link176 {
  left: 881.3px;
  width: 99.2px;
}
.section-heading70,
.section-link177,
.section-link178,
.section-link179,
.section-link180,
.section-link181,
.section-link182 {
  position: absolute;
  top: 383.6px;
  left: 696.2px;
  letter-spacing: 0.5px;
  line-height: 25.38px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 84.6px;
  height: 25.4px;
}
.section-heading70,
.section-link178,
.section-link179,
.section-link180,
.section-link181,
.section-link182 {
  left: 881.3px;
  width: 118.4px;
}
.section-heading70,
.section-link179,
.section-link180,
.section-link181,
.section-link182 {
  top: 424.8px;
  left: 696.2px;
  width: 58.4px;
}
.section-heading70,
.section-link180,
.section-link181,
.section-link182 {
  left: 881.3px;
  width: 60.1px;
}
.section-heading70,
.section-link181,
.section-link182 {
  top: 466.1px;
  left: 696.2px;
  width: 65.3px;
}
.section-heading70,
.section-link182 {
  left: 881.3px;
  width: 88.2px;
}
.section-heading70 {
  top: 49.5px;
  left: 1066.4px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 56.6px;
  height: 29.9px;
}
.section-heading71,
.section-link183,
.section-link184,
.section-link185 {
  position: absolute;
  top: 94.7px;
  left: 1066.4px;
  letter-spacing: 0.5px;
  line-height: 25.38px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 140.8px;
  height: 25.4px;
}
.section-heading71,
.section-link184,
.section-link185 {
  top: 136px;
  width: 147.8px;
}
.section-heading71,
.section-link185 {
  top: 177.3px;
  width: 61.1px;
}
.section-heading71 {
  top: 233.2px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 126.3px;
  height: 29.9px;
}
.section-oranienburger-container10 {
  top: 278px;
  line-height: 26.28px;
  font-weight: 300;
  width: 176.9px;
  height: 78.8px;
}
.section-blschestr-container10,
.section-heading72,
.section-oranienburger-container10 {
  position: absolute;
  left: 1066.4px;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
}
.section-heading72 {
  top: 386.9px;
  font-size: var(--font-size-3xl);
  line-height: 29.92px;
  font-weight: 500;
  width: 165px;
  height: 29.9px;
}
.section-blschestr-container10 {
  top: 431.7px;
  line-height: 26.28px;
  font-weight: 300;
  width: 155.4px;
  height: 78.8px;
}
.link-image15,
.link-image16 {
  position: absolute;
  height: calc(100% - 52px);
  top: 0;
  bottom: 52px;
  left: 0;
  max-height: 100%;
  width: 140px;
  overflow: hidden;
  object-fit: cover;
}
.link-image16 {
  top: 52px;
  bottom: 0;
}
.section-heading73,
.section48 {
  position: absolute;
  left: 1313.2px;
}
.section48 {
  width: calc(100% - 1713.2px);
  top: 50px;
  right: 400px;
  height: 95px;
}
.section-heading73 {
  top: 174.5px;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.5px;
  line-height: 29.92px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 147.2px;
  height: 29.9px;
}
.section-image8 {
  position: absolute;
  top: calc(50% - 138.55px);
  left: 1313.2px;
  border-radius: var(--br-xl);
  width: 20px;
  height: 20px;
  overflow: hidden;
  object-fit: cover;
}
.section-english5,
.section-keyboard-arrow-down5 {
  position: absolute;
  display: flex;
  align-items: center;
}
.section-english5 {
  top: 222.6px;
  left: 1342.2px;
  letter-spacing: 0.5px;
  line-height: 26.28px;
  font-weight: 300;
  width: 61.1px;
  height: 26.3px;
}
.section-keyboard-arrow-down5 {
  top: 222.9px;
  left: 1407.4px;
  font-size: var(--font-size-sm-5);
  line-height: 27px;
  font-family: var(--font-inter);
  width: 27.2px;
  height: 27px;
}
.tandem-speak-container12 {
  position: absolute;
  top: 29.5px;
  left: 395px;
  letter-spacing: 0.5px;
  line-height: 30px;
  font-weight: 300;
  display: flex;
  align-items: center;
  width: 529.8px;
  height: 60px;
}
.link-image17 {
  position: absolute;
  height: calc(100% - 70px);
  width: calc(100% - 1870px);
  top: 35px;
  right: 395px;
  bottom: 35px;
  left: 1475px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.divstyles-subfooter-3ce1m5,
.footer6 {
  position: absolute;
  width: 100%;
  top: 609.9px;
  right: 0;
  left: 0;
  background-color: var(--color-gray-300);
  height: 120px;
  font-size: var(--font-size-base);
}
.footer6 {
  top: 4361.6px;
  background-color: var(--color-darkslategray-200);
  height: 729.9px;
  font-size: var(--font-size-lg);
}
.header-link-image5 {
  position: absolute;
  height: calc(100% - 5059.5px);
  width: calc(100% - 1760px);
  top: 15.7px;
  right: 1745px;
  bottom: 5043.8px;
  left: 15px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.header-navigation15,
.header-navigation16 {
  top: 19.8px;
  letter-spacing: 1px;
  line-height: 23.36px;
  height: 23.4px;
}
.header-navigation15 {
  position: absolute;
  left: 220px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 119.2px;
}
.header-navigation16 {
  left: 373.8px;
  width: 36.7px;
}
.header-navigation16,
.header-navigation17,
.log-in6 {
  position: absolute;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.header-navigation17 {
  top: 19.8px;
  left: 445.2px;
  letter-spacing: 1px;
  line-height: 23.36px;
  width: 79.6px;
  height: 23.4px;
}
.log-in6 {
  top: calc(50% - 8.5px);
  left: 46.4px;
  text-decoration: underline;
  letter-spacing: 0.5px;
  line-height: 16px;
  justify-content: center;
  width: 47.6px;
  height: 16px;
}
.header-nav-link-button10 {
  position: absolute;
  top: calc(50% - 2534.05px);
  left: 1610px;
  border-radius: var(--br-21xl);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 140px;
  height: 40px;
  overflow: hidden;
  text-align: center;
}
.sign-up6 {
  position: absolute;
  top: calc(50% - 8.5px);
  left: 41.5px;
  text-decoration: underline;
  letter-spacing: 0.5px;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 57.5px;
  height: 16px;
}
.header-nav-link-button11 {
  position: absolute;
  top: calc(50% - 2534.05px);
  left: 1765px;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkturquoise);
  box-sizing: border-box;
  width: 140px;
  height: 40px;
  overflow: hidden;
  text-align: center;
  color: var(--color-darkturquoise);
}
.certificates {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  height: 5091.5px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
